<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Home Page</title>
</head>
<body>
	<nav>
		<a href="/openMyProfile"><span th:text="${session.username}"></span></a>
		<a href="/goHome"><h3>Home</h3></a>
		<a href="/openMyProfile"><h3>Profile</h3></a> 
		<a href="/openCreatePost"><h3>Upload</h3></a>
		<a href="/logout"><h3>Logout</h3></a>
	</nav>
	<h1>Post details</h1>
	<div>
		<span th:each="post:${allPosts}">
			<p>
				<strong>User:</strong> <span th:text="${post.user.username}"></span></a>
				
				<form action="/visitProfile" method="post">
				<a href="/showUserProfile"><span class="username" th:text="${post.user.username}"></span></a>
				<input type="hidden" name="profileName" th:value=${post.user.username}>
				<input type="submit" value="visitProfile">
				</form>
				<img th:if="${post.user.photoBase64}"
					th:src="'data:image/jpeg;base64,' + ${post.user.photoBase64}"  
					alt="Profile Photo" />
			</p>
			<p>
				<strong>Photo:</strong> <img th:if="${post.photoBase64}"
					th:src="'data:image/jpeg;base64,' + ${post.photoBase64}"
					alt="Profile Photo" />
			</p>
			<p>
				<strong>Caption:</strong> <span th:text="${post.caption}"></span>
			</p>
			<p>
				<strong>Likes:</strong> <span th:text="${post.likes}"></span>
			</p> <a href="/likePost">Like here</a>
			<form action="/likePost" method="get">
				<input name="id" th:value="${post.id}"> <input type="submit"
					value="Like">
			</form>

			   <!-- Comment form -->
                <form action="/addComment" method="post" class="comment-form">
                    <input type="hidden" name="id" th:value="${post.id}">
                    <textarea name="comment" placeholder="Add a comment..." required></textarea>
                    <input type="submit" value="Comment">
                </form>

                <!-- Displaying Comments -->
                <div class="comments-section">
                    <h4>Comments:</h4>
                    <ul>
                        <li th:each="comment : ${post.comments}">
                            <span th:text="${comment}"></span>
                        </li>
                    </ul>
                </div>
		</span>
		</p>

		<hr />
	</div>

</body>
</html>