<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Social Media Application</title>
</head>
<body>
	<h1>Welcome To KodBook!</h1>
	<h3>One of the social media app</h3>
	<hr>
	<form action="/login" method="post">
	<label>Username:</label>
	<input type="text" name="username" required>
	<br><br>
	
	<label>Password:</label>
	<input type="password" name="password" required>
	<br><br>
	
	<input type="submit" value="Login">
	<hr>
	<a href="/openResetPassword">Forget Password!</a>
	<a href="/openSignUp">Create new account</a>
	</form>
</body>
</html>