<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h3>Welcome to upload section</h3>
<nav>
<a href="/goHome"><h3>Home</h3></a>
<a href="/openMyProfile"><h3>Profile</h3></a>
<a href="/openCreatePost"><h3>Upload</h3></a>
</nav>

<form id="profileForm" action="/createPost" method="post" enctype="multipart/form-data">
<input type="file" name="photo" accept="image/*">
<textarea name="caption"></textarea>
<button type="submit">Upload</button>
</form>
</body>
</html>