<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Upload</title>
</head>
<body>

<nav>
<span th:text="${session.username}"></span>
<a href="/goHome"><h3>Home</h3></a>
<a href="/openMyProfile"><h3>Profile</h3></a>
<a href="/openCreatePost"><h3>Upload</h3></a>
<a href="/logout"><h3>Logout</h3></a>
</nav>
<h5>Welcome to upload section</h5>
<form id="profileForm" action="/createPost" method="post" enctype="multipart/form-data">
<input type="file" name="photo" accept="image/*" required>
<textarea name="caption"></textarea>
<button type="submit">Upload</button>
</form>
</body>
</html>