<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>User Profile</title>
</head>
<body>
	<nav>
		<span th:text="${session.username}"></span> <a href="/goHome"><h3>Home</h3></a>
		<a href="/openMyProfile"><h3>Profile</h3></a> <a
			href="/openCreatePost"><h3>Upload</h3></a>
			<a href="/logout"><h3>Logout</h3></a>
	</nav>
	<h3>Welcome to Profile Section</h3>
	<a href="/openEditProfile">Edit Profile</a>
	   <img th:if="${user.photoBase64}" 
        th:src="'data:image/jpeg;base64,' + ${user.photoBase64}" 
        alt="Profile Photo" />
	  <div class="username">
            <h1 th:text="${user.username}"></h1>
        </div>
         <div class="profile-info">
            <ul>
                <li><i class="fas fa-calendar-alt"></i> Date of Birth: <span th:text="${user.dob}"></span></li>
                <li><i class="fas fa-venus-mars"></i> Gender: <span th:text="${user.gender}"></span></li>
                <li><i class="fas fa-map-marker-alt"></i> City: <span th:text="${user.city}"></span></li>
                <li><i class="fas fa-graduation-cap"></i> College: <span th:text="${user.college}"></span></li>
                <li><i class="fas fa-info-circle"></i> Bio: <span th:text="${user.bio}"></span></li>
            </ul>

            <!-- Social Links -->
            <div class="social-links">
                <p><i class="fab fa-linkedin"></i> <a th:href="${user.linkedIn}" target="_blank">LinkedIn</a></p>
                <p><i class="fab fa-github"></i> <a th:href="${user.gitHub}" target="_blank">GitHub</a></p>
            </div>
        </div>
        <div>
		<span th:each="post:${myPosts}">
		
			<p>
				<strong>Photo:</strong> <img th:if="${post.photoBase64}"
					th:src="'data:image/jpeg;base64,' + ${post.photoBase64}"
					alt="Profile Photo" />
			</p>
			<p>
				<strong>Caption:</strong> <span th:text="${post.caption}"></span>
			</p>
			<p>
				<strong>Likes:</strong> <span th:text="${post.likes}"></span>
			</p> <a href="/likePost">Like here</a>
			<form action="/likePost" method="get">
				<input name="id" th:value="${post.id}"> <input type="submit"
					value="Like">
			</form>

			   <!-- Comment form -->
                <form action="/addComment" method="post" class="comment-form">
                    <input type="hidden" name="id" th:value="${post.id}">
                    <textarea name="comment" placeholder="Add a comment..." required></textarea>
                    <input type="submit" value="Comment">
                </form>

                <!-- Displaying Comments -->
                <div class="comments-section">
                    <h4>Comments:</h4>
                    <ul>
                        <li th:each="comment : ${post.comments}">
                            <span th:text="${comment}"></span>
                        </li>
                    </ul>
                </div>
		</span>
		</p>

		<hr />
	</div>
</body>
</html>