<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>KodBook registration</h1>
	<h3>One of the social media app</h3>
	<hr>
	<form action="/signUp" method="post">
	<label>UserName:</label>
	<input type="text" name="username" required>
	<br><br>
	
	<label>Email:</label>
	<input type="email" name="email" required>
	<br><br>
	
	<label>Password:</label>
	<input type="password" name="password" required>
	<br><br>
	
	<label>DOB:</label>
	<input type="date" name="dob" required>
	<br><br>
	
	<label>Gender:</label>
	<label>M</label><input type="radio" name="gender" value="M" >
	<label>F</label><input type="radio" name="gender" value="F">
	<label>O</label><input type="radio" name="gender" value="O">
	
	<br><br>
	
	<input type="submit" value="Sign Up">
	<hr>
	<a href="/">If account have already created pls login</a>
	</form>

</body>
</html>